* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-default: #F5F4F0;
  --border-primary: #D9D9D9;

  /* text */
  --text-primary: #1B1B1B;
  --text-secondary: #333333;
  --text-tertiary: #696969;
  --text-headline: #E1624F;

  --accent-blue: #0C51A7;
  --accent-orange: #E95E10;
  --accent-pink: #E5245E;
  --accent-purple: #591B98;

  /* font-family */
  --h1: 700 2.5rem "Open Sans", sans-serif;
  --h2: 700 2rem "Open Sans", sans-serif;
  --h3: 700 1.75rem "Open Sans", sans-serif;
  --headline: 900 1.2rem "Open Sans", sans-serif;
  --paragraph: 400 1rem "Open Sans", sans-serif;
  --subtitle: 400 1.25rem "Open Sans", sans-serif;
}





  