header {
  margin-inline: auto;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  width: 100%;
  max-width: 75rem;
  display: grid;

  headline {
    width: 100%;
    max-width: 75rem;
    font: var(--headline);
    color: var(--text-headline);
  }

  div h1 {
    font: var(--h1);
    color: var(--text-primary);
  }
  
  header img {
    margin-inline: auto;
    max-width: 75rem;
    width: 100%;
  }
}
  