section.content {
 display: grid;
 max-width: 80rem;
 /* padding: 2.5rem 5rem 2.5rem; */
 margin-inline: auto;

 div h2 {
  margin-top: 1.5rem;
  text-align: center;
  font:  var(--subtitle);
  color: var(--text-primary);
}

  img {
    border-radius: 2.5rem;
  }
}
